<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<%= image_tag "logo.svg", size: "40x40" %>
		<%= link_to "log out", logout_path, method: :delete,
		                                    id: "logout", class: "fl_r" %>
		<!-- <ul class="nav">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
		</ul> -->
	</div>
</div>